<!DOCTYPE HTML>
<!--
	Road Trip by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Conocenos</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="subpage">

		<!-- Header -->
			{{>header}}

		<!-- Nav -->
			{{>navbar}}

		<!-- Main -->
			<div id="main" class="container">

				<!-- Content -->
					<h2>Conocenos</h2>
					<p>Cisco Systems es una empresa global con sede en San José, California, Estados Unidos, principalmente dedicada a la fabricación, venta, mantenimiento y consultoría de equipos de telecomunicaciones. </p>
					<div class="row">
						<div class="6u 12u$(small)">
							<h3>Historia</h3>
							<p>La palabra Cisco proviene del nombre de la ciudad de San Francisco, lugar donde se fundó la empresa. El logotipo de esta es el Puente Colgante Golden Gate.

								Hasta el 8 de junio de 2009 era considerada una de las grandes empresas del sector tecnológico y un importante miembro del mercado del NASDAQ o mercado accionario de tecnología. Posteriormente, y gracias a su solidez, ingresó en el índice de industriales Dow Jones.

								La empresa fue fundada en 1984 por Leonard Bosack y Sandra Lerner, quienes formaban parte del personal de computación de la Universidad de Stanford. El nombre de la compañía viene de la palabra "San Francisco"; al mirar por la ventana había al frente un cartel que decía "San Francisco" y un árbol se interponía entre la palabra separando San Fran Cisco, de ahí proviene el nombre de la empresa. Allí comenzó su despliegue como empresa multinacional.
								Aníbal Cavaco Silva (presidente de Portugal), Jon Chambers (ex-CEO de Cisco), y Hélder Fragueiro Antunes durante la visita presidencial a los EEUAA, en 2011.

								Bosack adaptó el software para enrutadores multiprotocolo originalmente escrito por William Yeager, empleado de informática de la universidad. Cisco Systems creó el primer router comercialmente exitoso. </p>
						</div>
						<div class="6u$ 12u$(small)">
							<h3>Y mas....</h3>
							<p>Tradicionalmente, su principal competidor era Juniper Networks en la venta de routers para enlaces backbone. Sin embargo, debido a su caída en picado en los últimos años, actualmente su principal competidor es Huawei.

								Desde 2019, Cisco Systems colabora en Italia con el operador de telefonía Iliad para la realización de la red propietaria de este último.2​

								Además de desarrollar el hardware de sus equipos, Cisco Systems también se ocupa de desarrollar su propio software de gestión y configuración de los mismos. Dicho software es conocido como IOS, de código actualmente cerrado y propietario.

								A través del IOS se consigue configurar los equipos Cisco mediante la denominada "Command Line Interface" (CLI) (Interfaz de Línea de Comandos), que sirve de intérprete entre el usuario y el equipo.

								Cisco Systems tiene productos para routing (redes), seguridad, colaboración(telefonía IP y sistemas de videoconferencia), data center, cloud y movilidad (wireless). La mayoría de sus productos se basan en hardware; no obstante, durante los últimos años la empresa está rotando sus productos hacia el software.

								Cisco Systems también posee una división de publicaciones tecnológicas denominada Cisco Press, la cual tiene un convenio con la editorial estadounidense Pearson VUE, división educativa que produce material educativo para programas que tienen como fin la formación de personal profesional especializado en el diseño, administración y mantenimiento de redes informáticas. </p>
						</div>
						<!-- Break -->
						<div class="4u 12u$(medium)">
							<h3>Algunos de estos programas son </h3>
							<p>    CCDA (Cisco Certified Design Associate).
								CCDP (Cisco Certified Design Professional).
								CCIE (Cisco Certified Internetwork Expert).
								CCIP (Cisco Certified Internetwork Professional).
								CCNA (Cisco Certified Network Associate).
								CCNP (Cisco Certified Network Professional).
								CCSP (Cisco Certified Security Professional).</p>
						</div>
						<div class="4u 12u$(medium)">
							<h3>Catálogo</h3>
							<p>Dispositivos de conexión para redes informáticas: routers (enrutadores, encaminadores o ruteadores), switches (conmutadores) y hubs (concentradores).
								Dispositivos de seguridad como cortafuegos y concentradores para VPN.
								Productos de telefonía IP como teléfonos y el CallManager (una PBX IP).
								Software de gestión de red como CiscoWorks.
								Equipos para redes de área de almacenamiento , entre otros.
							</p>
						</div>
						<div class="4u$ 12u$(medium)">
							<h3>Juicio de Cisco contra Huawei</h3>
							<p>El 23 de enero de 2003 Cisco Systems demandó a Huawei Technologies Co.Ltd. y sus subsidiarias Huawei America Inc. y FutureWei Technologies Inc. por la copia ilegal de la propiedad intelectual de Cisco.​ La demanda acusa a Huawei de "haber copiado ilegalmente y apropiarse indebidamente del software IOS de Cisco, infringiendo numerosas patentes de Cisco". Cisco suspendió la demanda por infracción a la ley el 1 de octubre de 2003. Posteriormente Huawei acordó la modificación de algunos de sus productos.</p>
						</div>
					</div>
					<footer>
						<a href="/" class="button alt">INICIO</a>
					</footer>

				<hr class="major" /> 


			<!-- Footer -->
				{{> footer }}
			
	</body>
</html>