<!DOCTYPE HTML>
<!--
	Road Trip by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>CISCO SYSTEM</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			{{> header}}

		<!-- Nav -->
			{{> navbar}}

		<!-- Banner -->
		<!--
			Note: To show a background image, set the "data-bg" attribute below
			to the full filename of your image. This is used in each section to set
			the background image.
		-->
			<section id="banner" class="bg-img" data-bg="cisco.jpg">
				<div class="inner">
					<header>
						<h1>Bienvenidos a Cisco System</h1>
					</header>
				</div>
				<a href="#one" class="more">Learn More</a>
			</section>

		<!-- One -->
			<section id="one" class="wrapper post bg-img" data-bg="cisco2.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>Productos, soluciones y servicios</h2>
							<p></p>
						</header>
						<div class="content">
							<p>¿Necesita ayuda para encontrar los productos de Cisco que se ajustan a sus necesidades? Está en el lugar correcto. Si necesita ayuda para solucionar problemas, documentación, otro soporte o descargas, visite nuestra área de soporte técnico.</p>
						</div>
						<footer>
							<a href="/productos" class="button alt">PRODUCTOS</a>
						</footer>
					</article>
				</div>
				<a href="#two" class="more">INICIO</a>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper post bg-img" data-bg="cisco5.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>Acerca de Cisco</h2>
							<p>La tecnología de Cisco está creando un mundo de posibilidades.</p>
						</header>
						<div class="content">
							<p>Carreras profesionales ¿Está preparado para lanzar su carrera como parte de nuestra transformación digital?</p>
						</div>
						<footer>
							<a href="/conocenos" class="button alt">CONOCENOS</a>
						</footer>
					</article>
				</div>
				
			</section>

		
		<!-- Footer -->
		{{> footer }}

	</body>
</html>