<!DOCTYPE HTML>
<!--
	Road Trip by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Productos</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="subpage">

		<!-- Header -->
			{{> header}}

		<!-- Nav -->
			{{> navbar}}

		<!-- Content -->
		<!--
			Note: To show a background image, set the "data-bg" attribute below
			to the full filename of your image. This is used in each section to set
			the background image.
			
			<!-- One -->
			<section id="one" class="wrapper post bg-img" data-bg="cisco2.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>Productos, soluciones y servicios</h2>
							
						</header>
						<div class="content">
							<p>Las redes basadas en la intención (IBN) integradas en Cisco DNA adoptan un enfoque suministrado por software para automatizar y garantizar servicios en las redes del campus y las sucursales, y en todas las WAN. Cisco DNA puede ayudarlo a agilizar las operaciones, a analizar y resolver problemas con mayor rapidez y a aumentar la productividad del usuario al optimizar el rendimiento de las aplicaciones.</p>
							<p>Creemos que las telecomunicaciones son un factor de crecimiento económico y social en el país, nuestra compañia es capaz de generar bienestar al entorno de las telecomunicaciones, apoyándolos con Ingeniería, Productos, Instalación, Capacitación y Mantenimiento; en tiempo y con la calidad requerida.</p>
							<p>La empresa CISCO proporciona productos y servicios que satisfagan las necesidades y expectativas de nuestros clientes mediante procesos eficientes y proveedores confiables.</p>
						</div>
						<footer>
							<a href="/" class="button alt">INICIO</a>
						</footer>
					</article>
				</div>
				<a href="#two" class="more">INICIO</a>
			</section>

			<!-- Two -->
			<section id="two" class="wrapper post bg-img" data-bg="cisco3.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>Redes</h2>
							
						</header>
						<div class="content">
							<p>Ancho de banda: el factor más familiar de una red es el ancho de banda, que es una medida de la capacidad disponible en un enlace de red, es decir, la capacidad de un enlace. Por lo general, se mide en bits por segundo (bps).</p>
							<p>Retraso: también conocido como latencia, el retraso se refiere al tiempo que tarda un paquete en llegar del remitente al receptor. Por supuesto, cuanta más demora, más lenta “parece” la red. La latencia generalmente se mide en milisegundos (ms).</p>
							<p>Jitter: Esta es una medida de la variación en el retraso entre paquetes. Por ejemplo, si un paquete tarda 30 ms en llegar del punto A al punto B (eso es retraso), y otro paquete tarda 40 ms en llegar del mismo punto A al punto B, entonces la fluctuación es de 10 ms (es decir, 40 ms – 30 ms).</p>
							<p>Pérdida: a medida que los paquetes “viajan” a través de una red, algunos de ellos pueden perderse, es decir, no llegar a su destino.</p>
							<p>Nota: el ancho de banda no es necesariamente lo mismo que la velocidad, aunque a veces ambos términos se usan indistintamente.</p>
						</div>
						<footer>
							<a href="/" class="button alt">iNICIO</a>
						</footer>
					</article>
				</div>
				<a href="#three" class="more">INICIO</a>
			</section>
			
			<!-- Three -->
			<section id="three" class="wrapper post bg-img" data-bg="cisco4.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>Redes inalámbricas y movilidad</h2>
							
						</header>
						<div class="content">
							<p>Las empresas, independientemente de su tamaño,siempre quieren aumentar su agilidad, laproductividad de sus empleados y la satisfacciónde sus clientes. Este nivel de flexibilidad se hacecada vez más importante porque ofrecer unarespuesta en el mismo día ya no es suficiente.Ahora, las respuestas tienen que darse en tiemporeal</p>
							<p>La Red inalámbrica unificada de Cisco® ofrece laventaja competitiva que demandan las empresasen crecimiento. Cisco hace posible la comunicacióninstantánea y el uso compartido de información, ytambién tiene el liderazgo en suministrar serviciosseguros y de alta calidad en movilidad avanzada</p>
						</div>
						<footer>
							<a href="/" class="button alt">INICIO</a>
						</footer>
					</article>
				</div>
				<a href="#four" class="more">INICIO</a>
			</section>
			
			<!-- Four -->
			<section id="four" class="wrapper post bg-img" data-bg="banner3.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>Seguridad</h2>
							<p>¿Por qué Cisco Secure?</p>
						</header>
						<div class="content">
							<p>La seguridad es un trabajo pesado. La tarea que usted desempeña contribuye a construir el futuro y a luchar por mantenerlo protegido. Las exigencias son considerables. Como la empresa de ciberseguridad empresarial más grande del mundo, lideramos el camino con soluciones que impulsan la industria en SASE, XDR y Zero Trust. Integrarlo todo es Cisco SecureX, nuestra plataforma de seguridad que brinda simplicidad, visibilidad y eficiencia en toda su infraestructura.</p>
						</div>
						<footer>
							<a href="/" class="button alt">INICIO</a>
						</footer>
					</article>
				</div>
			</section>
		
		
		<!-- Footer -->
		{{> footer}}

	</body>
</html>